// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.floating-button {
    font-size: 2rem;
    vertical-align: text-top;

    position:fixed;
    bottom: 2rem;
    right: 2rem;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.5rem 0.5rem 2.5rem #888888;

}
